<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to mobile phone Prediction website...!</h2>
    <form action="/predict" method="post">
        Enter RAM <input type="text" name="ram" required="required"><br><br>
        Enter ROM <input type="text" name="rom" required="required"><br><br>
        Enter Screen Size <input type="text" name="Screen size" required="required"><br><br>
        Enter Primary Camera <input type="text" name="Primary Size" required="required"><br><br>
        Enter Selfie Camera <input type="text" name="Selfie Camera" required="required"><br><br>
        Enter Battery (in aAh)<input type="text" name="Battery" required="required"><br><br>
        <button type="submit">Predict Here</button>
        <button type="reset">Reset Here</button>
    </form>
    <br><br>
    <h3>{{ sent_value }}</h3>
</body>
</html>